#ignorer les fichiers .o et .a
*.o
*.a
*.log
*.status
*.save
*~
*.in
!elf_linker-1.0/*.in
*.out
!elf_linker-1.0/*.out

elf_linker-1.0/.deps/
elf_linker-1.0/ARM_runner_example
elf_linker-1.0/Examples_loader/Makefile
elf_linker-1.0/Examples_loader/autom4te.cache/
elf_linker-1.0/Examples_loader/config.h
elf_linker-1.0/Examples_loader/example1
elf_linker-1.0/Examples_loader/example2
elf_linker-1.0/Examples_loader/example3
elf_linker-1.0/Examples_loader/example4
elf_linker-1.0/Examples_loader/stamp-h1
elf_linker-1.0/Makefile
elf_linker-1.0/autom4te.cache/
elf_linker-1.0/config.h
elf_linker-1.0/stamp-h1

lecture_ELF
